
.mainDiv{
    width: 30%;

    margin: 40px auto;
    border: 1px solid black;
    box-shadow: 1 1px 0px #ccc;
    text-align: right;
    float: center;
    position: relative;
  
  
}


.col25 {
  float: left;
  width: 25%;

}



.row:after {
  content: "";
  display: table;
  clear: both;
}
.SideDiv{
  float: left;
  width: 50%;
  margin: 4px auto;
  border: 0px solid rgb(212, 210, 210);
  text-align: left;
  position: absolute;
  left: 0px;
   margin-left: 40px;

}


button{

  width: 150px;
  font-size: 20px;
  background-color: white;

}